$enable-gradients: true;
@import "bootstrap";

html, body {
    height: 100%;
}

.bg{
    background-image: image_url("bg.jpg");
    background-position: center;
    background-size: cover;
}

main {
    opacity: 0.65;
}

.pl500 {
    padding: 10px;
}